.card{
    width: 300px;
    height: 375px;
    margin: 10px;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #55555518;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: white;

    img{
        width: 100%;
        height: 45%;
        object-fit:cover;
        border-radius: 10px;
    }
}

.card:hover{
    box-shadow: 0 0 10px 5px #a1a1a1;
    transition: 0.5s;
}

.rating_price{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.rating{
    display: flex;
    align-items: center;
    gap: 5px;
}