.logo{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding-bottom: 2rem;
}

.links{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.links a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    

}